<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaskManagePro.DAL.Properties.Settings.TaskManageProConnectionString1"
            connectionString="Data Source=47.115.45.222;Initial Catalog=TaskManagePro;User ID=sa;Password=A3M33FTXWIdp4hihljni231;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>