<?xml version="1.0"?>
<!--http://localhost:52645/App_Data/TaskManagePro.mdf
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="TaskManagePro.DAL.Properties.Settings.TaskManageProConnectionString1"
        connectionString="Data Source=47.115.45.222;Initial Catalog=TaskManagePro;User ID=sa;Password=A3M33FTXWIdp4hihljni231;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState mode="InProc"  timeout="20" />
    <customErrors mode="Off" defaultRedirect="Default.htm">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
  </system.web>
</configuration>